Package: com.axs.combinedtweak
Name: CombinedTweak
Version: 1.0
Architecture: iphoneos-arm
Description: CombinedTweak - Dynamic Wallpapers & Gravity Effects
Maintainer: CombinedTweak
Author: Traurige & Axs Studio
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.axs.libgcuniversal
Icon: file:///Applications/Cydia.app/Sections/tweak.png
